* {
	box-sizing: border-box;
}
body {
	background: #e2e2e2;
}
header {
	margin: 20px 0px 30px;
}
section {
	margin-bottom: 30px;
}
.accordion__header {
	margin-bottom: 2px;
	padding: 10px 15px 10px 0;
	background-color: #f6f6f6;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 5px;
	transition: all 0.25s ease;
}

.accordion__header:hover {
	color: #fff;
	background-color: #bababa;
	cursor: pointer;
}

.accordion__header.active {
	color: #fff;
	background-color: #1e7e34;
  border-color: #1c7430;
  box-shadow: 0 0 0 0.15rem rgba(40,167,69,.5);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.accordion__header-icon {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px; 
	width: 10px;
	height: 10px;
	border: 10px solid transparent;	
	border-left: 10px solid #000;
	transition: all 0.25s ease;
}

.accordion__header:hover > .accordion__header-icon {
	border-left: 10px solid #fff;
}

.accordion__header.active > .accordion__header-icon {
	top: 5px;
	left: -8px;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
}

.accordion__content {
	overflow: auto;
	max-height: 0px;
	opacity: 0;
	border-radius: 5px;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.accordion__content.active {
	max-height: 200px;
	padding: 25px 25px 20px 25px;
	opacity: 1;
	border: 1px solid #aaa;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


